*{
  margin: 0;
  padding: 0;
}

html,body{
  height: 100%;
  font-family: "San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
  font-size: 14px;
}

main{
  min-height: 100%;
}

.content{
  padding-bottom: 82px;
  overflow: auto;
  margin-top: 2rem;
}

.articles{
  text-align: justify;
}

@media (min-width: 768px) {
    .articles {
      font-size: 2rem;
    }
    h5{
      font-size: 3rem;
    }
}

@media (min-width: 1140px) {
  .articles {
    font-size: 1rem;
  }
  h5{
    font-size: 1.25rem;
  }
}

.navbar{
  border-bottom: 1px solid #f2f2f2;
}

.navbar a{
  font-size: 1.2rem;
}


.navbar-logo{
  display: block;
  color: #7a8288;
  padding: 0.5rem 0;
  white-space: nowrap;
  font-weight: bold;
  font-size: 1.4rem;
  text-decoration: none;
}

a{
  color: #6f7274;
}

a:hover{
  color: black;
}

footer{
  position: relative;
  height: 82px;
  background-color: DarkSalmon;
  color: white;
  margin-top: -82px;
  clear:both;
}

.grayscale{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
